server:
  port: '@server.port@'
management:
  security:
    flag: false
  server:
    port: '@management.port@'
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false
      prometheus:
        enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
spring:
  application:
    name: '@project.name@'
  output:
    ansi:
      enabled: always
info:
  version: '@project.version@'
  stage: dev
service:
  mg:
    automaton:
      url: http://machinegun:8022/v1/automaton
      namespace: schedulator
    eventSink:
      url: http://localhost:8022/v1/event_sink
      sinkId: schedulator
    networkTimeout: 30000
  dominant:
    url: http://dominant:8022/v1/domain/repository_client
    networkTimeout: 30000
    cache:
      calendar:
        expireMinutes: 1440
retry-policy:
  dominant:
    maxAttempts: 10
  job:
    initialIntervalSeconds: 35
    maxIntervalSeconds: 3600
    maxAttempts: 10

cache:
  maxSize: 100
